:root {
  --primary-background: #fbfafa;
  --primary-foreground: #16124b;
  --secondary-background: #4b3375;
  --secondary-foreground: #eee;
  --accent: #7d5eb2;
  --accent-light: #c8b7e6;
  --accent-dark: #675585;
}

html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  background-color: var(--primary-background);
  color: var(--primary-foreground);
  font-family: sans-serif;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 4rem;
  height: 4rem;
}

.nav-link {
  position: relative;
  padding-bottom: 3px;
  transition: all 0.5s ease;
}

.nav-link::after {
  content: "";
  background-color: var(--secondary-foreground);
  height: 0.15rem;
  width: 0;
  position: absolute;
  bottom: 0;
  opacity: 0;
  left: 50%;
  transition: all 0.5s ease;
}

.nav-link:hover::after,
.nav-link:focus::after {
  left: 0;
  width: 100%;
  opacity: 1;
}

main {
  max-width: 1000px;
  min-height: 100%;
  position: relative;
  margin: 0 auto;
  padding: 2rem 2rem 10rem 2rem;
}

h1 {
  font-size: 1.5rem;
}

nav {
  font-size: 1.2rem;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-left: 2rem;
}

#nav-menu-toggle,
#nav-menu-thumb {
  display: none;
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
}

#nav-menu-toggle {
  margin: 0;
  opacity: 0;
}

#nav-menu-thumb {
  background: url("assets/menu.svg");
}

@media screen and (max-width: 775px) {
  header {
    flex-direction: column;
  }

  #nav-menu-toggle {
    display: inline-block;
  }

  #nav-menu-thumb {
    display: inline-block;
  }

  nav ul {
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s ease;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: block;
    text-align: center;
    margin: 0 0 0.5rem 0;
  }

  #nav-menu-toggle:checked + ul {
    max-height: 50rem;
  }
}

header,
footer {
  border-bottom: var(--accent) 0.5rem solid;
  background-color: var(--secondary-background);
  color: var(--secondary-foreground);
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
}

#copyright {
  text-align: center;
}

header a {
  color: var(--secondary-foreground);
  text-decoration: none;
  text-transform: uppercase;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  height: 14rem;
}

.presentation-card-wrapper {
  width: 100%;
  padding: 2rem;
}

.button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 7px;
  background-color: var(--secondary-background);
  color: var(--secondary-foreground);
  border-style: solid;
  border-width: 5px;
  border-color: transparent;
  text-decoration: none;
  transition: all ease 0.5s;
  box-sizing: border-box;
}

.login-button {
  margin-top: 15px;
  font-size: 17px;
}

.administration-button {
  margin-top: 15px;
  font-size: 17px;
}

.button:hover {
  background-color: var(--accent);
}

.button:focus {
  border-color: var(--accent-light);
  outline: none;
}

.presentation-card .button {
  opacity: 0;
  transition: all ease 0.5s;
}

.presentation-card:hover .button,
.presentation-card:focus-within .button {
  opacity: 1;
}

.presentation-card {
  width: 100%;
  position: relative;
  transition: all ease 0.5s;
}

.presentation-card:hover,
.presentation-card:focus-within {
  margin-top: -1rem;
}

.presentation-card h2 {
  text-transform: uppercase;
  margin: 0 2rem;
  font-weight: 400;
}

.presentation-card p {
  margin: 0 2rem;
  color: var(--accent-dark);
}

.cards-container > .presentation-card-wrapper:not(:last-child) {
  border-right: 2px solid var(--primary-foreground);
}

.presentation-buttons-container {
  margin-top: 1rem;
  transition: all ease 0.25s;
  display: flex;
  justify-content: space-around;
}

.presentation-card:hover .presentation-buttons-container,
.presentation-card:focus-within .presentation-buttons-container {
  opacity: 1;
}

.presentation-buttons-container .button:not(:last-child) {
  margin-right: 2rem;
}

@media (hover: none) or (max-width: 950px) {
  .cards-container {
    height: auto;
  }

  .presentation-card-wrapper {
    padding: 0;
  }

  .presentation-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }

  .presentation-buttons-container .button {
    opacity: 1;
  }

  .presentation-buttons-container .button:not(:last-child) {
    margin-right: 0;
  }

  .presentation-card:hover,
  .presentation-card:focus-within {
    margin-top: 0;
  }

  .presentation-buttons-container {
    flex-direction: column;
    height: 10rem;
  }
}

@media (max-width: 500px) {
  .cards-container {
    flex-direction: column;
  }

  .cards-container > .presentation-card-wrapper:not(:last-child) {
    border-right: none;
    margin: 2rem 0;
  }
}

.bmi-categories-list {
  display: flex;
}

.bmi-category {
  --padding: 0.5rem;
  --border-radius: 7px;

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 5rem;
  padding: var(--padding);
}

.bmi-category dt {
  font-weight: 500;
  font-size: 1.25rem;
}

.bmi-category dd {
  font-weight: 350;
  font-size: 1.25rem;
  margin: 0;
}

.bmi-category:nth-child(1) {
  z-index: 4;
  background-color: #f7d9d9;
}

.bmi-category:nth-child(2) {
  z-index: 3;
  background-color: #b5e9b4;
}

.bmi-category:nth-child(3) {
  z-index: 2;
  background-color: #fff5a8;
}

.bmi-category:nth-child(4) {
  z-index: 1;
  background-color: #ffa4a4;
}

.bmi-category:first-child {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.bmi-category:last-child {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.bmi-category:not(:first-child) {
  padding-left: calc(var(--padding) + var(--border-radius));
  margin-left: calc(var(--border-radius) * -1);
}

.bmi-category:not(:last-child) {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

@media screen and (max-width: 700px) {
  .bmi-categories-list {
    flex-direction: column;
  }

  .bmi-category:last-child {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }

  .bmi-category:not(:first-child) {
    margin-left: 0;
    padding-left: 0;
    margin-top: calc(var(--border-radius) * -1);
    padding-top: calc(var(--padding) + var(--border-radius));
  }

  .bmi-category:not(:last-child) {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }

  .bmi-category:first-child {
    border-radius:
      var(--border-radius) var(--border-radius)
      var(--border-radius) var(--border-radius);
  }
}

.bar-chart {
  display: flex;
  justify-content: space-between;
  height: 20rem;
  margin: 2rem;
  padding: 5rem 3rem 0.5rem 3rem;
  overflow-x: auto;
  scrollbar-color: var(--accent-dark) var(--accent-light);
  scrollbar-width: thin;
}

.bar-chart-column {
  position: relative;
  min-width: 2rem;
  margin: 0 0.1rem;
  align-self: flex-end;
  animation-duration: 0.75s;
  animation-name: raise;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  border: 0;
}

.bar-chart-column::after {
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: calc(100% + 2rem);
  transform: translateX(-50%);
  content: var(--tooltip);
  opacity: 0;
  background-color: var(--accent-light);
  color: var(--primary-foreground);
  padding: 0.5rem;
  border-radius: 7px;
  transition: ease all 0.15s;
  z-index: 1;
}

.bar-chart-column:hover::after,
.bar-chart-column:focus::after {
  opacity: 1;
}

.bar-chart:hover .bar-chart-column:focus:not(:hover)::after {
  opacity: 0;
}

.bar-chart-column::before {
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: calc(100% + 0.2rem);
  transform: translateX(-50%);
  content: var(--value);
  color: var(--primary-foreground);
}

@keyframes raise {
  from {
    height: 0;
  }
}

.bar-chart-column:nth-child(odd) {
  background-color: var(--accent-dark);
}

.bar-chart-column:nth-child(even) {
  background-color: var(--accent);
}

.line-chart {
  height: 20rem;
  position: relative;
  margin: 6rem;
}

.line-chart-segment {
  content: "";
  background-color: var(--accent-dark);
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path:
    polygon(
      var(--x1) calc(100% - var(--y1)),
      var(--x2) calc(100% - var(--y2)),
      calc(var(--x2) + 2px) calc(100% - calc(var(--y2) + 2px)),
      calc(var(--x1) + 2px) calc(100% - calc(var(--y1) + 2px))
    );
}

.line-chart-point {
  position: absolute;
  left: calc(var(--x) - 0.5rem);
  bottom: calc(var(--y) - 0.5rem);
  width: 1rem;
  height: 1rem;
  background-color: var(--secondary-background);
  border-radius: 1rem;
  z-index: 1;
}

.line-chart-point::after {
  content: var(--info);
  position: absolute;
  margin: auto;
  opacity: 0;
  top: 50%;
  left: 50%;
  background-color: var(--accent-light);
  color: var(--primary-foreground);
  padding: 0.5rem;
  border-radius: 7px;
  transition: ease all 0.15s;
}

.line-chart-point:hover::after {
  opacity: 1;
}

.login-container {
  margin: auto;
  width: 25rem;
}

.login-header {
  color: var(--secondary-foreground);
  background: var(--secondary-background);
  text-align: center;
  border: 1px solid var(--secondary-background);
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  padding: 1rem;
}

.login-form {
  padding: 1rem;
  border: 4px solid var(--secondary-background);
  border-radius: 0 0 10px 10px;
}

.input-login-group {
  display: block;
  text-align: left;
  margin: 0.5rem;
}

.login-label {
  display: block;
  text-align: left;
  margin: 0.5rem;
}

.login-input,
.account-input {
  transition: ease all 0.5s;
  box-sizing: border-box;
  height: 2.5rem;
  width: 100%;
  padding: 0 0.75rem;
  font-size: 1.25rem;
  border-radius: 5px;
  border: 2px solid var(--secondary-background);
}

.account-input {
  width: 50%;
}

.login-input {
  width: 100%;
}

input:hover {
  outline: none !important;
  box-shadow: 0 0 5px var(--accent);
}

input:focus {
  outline: none !important;
  box-shadow: 0 0 5px var(--accent);
}

table {
  border-spacing: 0;
  width: 100%;
}

th,
td {
  padding: 0.5rem;
}

td:not(:last-child) {
  border-right: 1px solid var(--primary-foreground);
}

tr:nth-child(even) {
  background-color: var(--secondary-foreground);
}

th {
  position: sticky;
  top: 0;
  background-color: var(--secondary-background);
  color: var(--secondary-foreground);
  text-align: left;
}

.administration-cards-container {
  justify-content: space-around;
  text-align: center;
  height: 10rem;
  margin-top: 2em;
  margin-bottom: 35em;
}

.administration-card-wrapper {
  width: 100%;
  padding: 2rem;
}

.administration-card {
  position: relative;
}

.administration-cards-container > .administration-card-wrapper:not(:last-child) {
  border-bottom: 2px solid var(--primary-foreground);
}

.input-admin-group {
  display: block;
  text-align: center;
  margin: 0.5rem;
}

.account-label {
  display: inline-block;
  font-size: 1.25rem;
  margin: 5px;
  width: 137px;
  text-align: left;
}

.account-cards-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  height: 18rem;
  margin-bottom: 4rem;
  padding-top: 17px;
}

.account-card-wrapper {
  width: 100%;
}

.account-card {
  display: block;
  margin-bottom: 30px;
  text-align: center;
}

.account-cards-container > .account-card-wrapper:not(:last-child) {
  border-right: 2px solid var(--primary-foreground);
}
