:root {
  --primary-background: #fbfafa;
  --primary-foreground: #16124b;
  --secondary-background: #4b3375;
  --secondary-foreground: #eee;
  --accent: #7d5eb2;
  --accent-light: #c8b7e6;
  --accent-dark: #675585;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-background);
  color: var(--primary-foreground);
  font-family: sans-serif;
}

header {
  display: flex;
  margin-bottom: 3rem;
  justify-content: space-around;
}

.nav-link {
  position: relative;
  padding-bottom: 3px;
  transition: all 0.5s ease;
}

.nav-link::after {
  content: "";
  background-color: var(--secondary-foreground);
  height: 0.15rem;
  width: 0;
  position: absolute;
  bottom: 0;
  opacity: 0;
  left: 50%;
  transition: all 0.5s ease;
}

.nav-link:hover::after,
.nav-link:focus::after {
  left: 0;
  width: 100%;
  opacity: 1;
}

footer {
  margin-top: 3rem;
}

main {
  max-width: 1000px;
  align-self: center;
  flex-grow: 1;
}

h1 {
  font-size: 1.5rem;
}

nav {
  font-size: 1.2rem;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-left: 2rem;
}

header,
footer {
  padding: 1rem;
  border-bottom: var(--accent) 0.5rem solid;
  background-color: var(--secondary-background);
  color: var(--secondary-foreground);
}

#copyright {
  text-align: center;
}

header a {
  color: var(--secondary-foreground);
  text-decoration: none;
  text-transform: uppercase;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  height: 10rem;
}

.presentation-card-wrapper {
  width: 100%;
  padding: 2em;
}

.button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 7px;
  background-color: var(--secondary-background);
  color: var(--secondary-foreground);
  border-style: solid;
  border-width: 5px;
  border-color: transparent;
  text-decoration: none;
  transition: all ease 0.5s;
  box-sizing: border-box;
}

.button:hover {
  background-color: var(--accent);
}

.button:focus {
  border-color: var(--accent-light);
}

.presentation-card .button {
  opacity: 0;
  transition: all ease 0.5s;
}

.presentation-card:hover .button,
.presentation-card:focus-within .button {
  opacity: 1;
}

.presentation-card {
  width: 100%;
  position: relative;
  transition: all ease 0.5s;
}

.presentation-card:hover,
.presentation-card:focus-within {
  margin-top: -1rem;
}

.presentation-card h2 {
  text-transform: uppercase;
  font-weight: 400;
}

.presentation-card p {
  margin: 0;
  color: var(--accent-dark);
}

.cards-container > .presentation-card-wrapper:not(:last-child) {
  border-right: 2px solid var(--primary-foreground);
}

.presentation-buttons-container {
  margin-top: 1rem;
  transition: all ease 0.25s;
}

.presentation-card:hover .presentation-buttons-container,
.presentation-card:focus-within .presentation-buttons-container {
  opacity: 1;
}

.presentation-buttons-container .button:not(:last-child) {
  margin-right: 2rem;
}
